<#macro indexImport>
<head>
    <meta charset="utf-8">
    <title>SpringBootCMS</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="${request.contextPath}/static/images/favicon.ico">
    <link rel="stylesheet" href="${request.contextPath}/static/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="${request.contextPath}/static/css/layuimini.css?v=2.0.4.2" media="all">
    <link rel="stylesheet" href="${request.contextPath}/static/css/themes/default.css" media="all">
    <link rel="stylesheet" href="${request.contextPath}/static/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="${request.contextPath}/static/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
    <script src="${request.contextPath}/static/js/lay-config.js?v=2.0.0" charset="utf-8"></script>
</head>
</#macro>

<#macro commonImport>
<head>
    <meta charset="utf-8">
    <title>SpringBootCMS</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="${request.contextPath}/static/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="${request.contextPath}/static/css/public.css" media="all">
    <script src="${request.contextPath}/static/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
</head>
</#macro>

<#macro statusPageImport>
<head>
    <meta charset="UTF-8">
    <title>SpringBootCMS</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="${request.contextPath}/static/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="${request.contextPath}/static/css/404.css" media="all">
</head>
</#macro>

<#macro uploadImport>
    <link rel="stylesheet" href="${request.contextPath}/static/lib/jq-module/zyupload/zyupload-1.0.0.min.css" media="all">
    <script src="${request.contextPath}/static/lib/jquery-3.4.1/jquery-3.4.1.min.js" charset="utf-8"></script>
    <script src="${request.contextPath}/static/lib/jq-module/zyupload/zyupload-1.0.0.min.js" charset="utf-8"></script>
</#macro>