<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <title>${(templateMap.companyName)!!}</title>

    <!-- Meta -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no,user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="keywords" content="${(templateMap.companyName)!!}">
    <meta name="description" content="${(templateMap.companyName)!!}">
    <meta name="author" content="zhengkai.blog.csdn.net">

    <!-- Favicon -->
    <link rel="shortcut icon" href="${request.contextPath}/static/frontend/img/favicon.png" type="image/x-icon">

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="${request.contextPath}/static/frontend/vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="${request.contextPath}/static/frontend/vendors/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="${request.contextPath}/static/frontend/vendors/slick-carousel/slick.css">
    <link href="${request.contextPath}/static/frontend/vendors/ace-responsive-menu/ace-responsive-menu.css" rel="stylesheet" type="text/css" />
    <link href="${request.contextPath}/static/frontend/vendors/aos/aos.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="${request.contextPath}/static/frontend/css/theme.css">
    <link rel="stylesheet" type="text/css" href="${request.contextPath}/static/frontend/css/styles.css">
    <style>
        @media (min-width: 576px) {
            .logo h2 { font-size: 16px; }
        }
        @media (min-width: 768px) {
            .logo h2 { font-size: 20px; }
        }
        @media (min-width: 992px) {
            .logo h2 {font-size: 26px;}
        }
    </style>
</head>
<body>
    <!-- Header -->
    <header class="main-header"> 
	<div class="container">
			<div class="logo">
                <a href="${request.contextPath}/page/index">
                    <h2><span>${(templateMap.companyName)!!}</span></h2>
                </a>
				</div> 
			 <!-- Navbar --> 
				<nav class="mainNav">
				<!-- Menu Toggle btn-->
				<div class="menu-toggle">
					<h3>Menu</h3>
					<button type="button" id="menu-btn">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- Responsive Menu Structure-->
				<!--Note: declare the Menu style in the data-menu-style="horizontal" (options: horizontal, vertical, accordion) -->
                    <ul id="respMenu" class="ace-responsive-menu" data-menu-style="horizontal">
                        <#if channelList??>
                        <#list channelList as item>
                        <li>
                            <a href="${request.contextPath}/page/channel/${item.channelId}" >
                                <span class="title">${item.channelName}</span>
                            </a>
                        </li>
                    </#list>
                </#if>
        <li>
            <a href="${request.contextPath}/page/activity/search" >
                <span class="title">活动签到</span>
            </a>
        </li>
        <li>
            <a href="${request.contextPath}/page/form/search" >
                <span class="title">表单提交</span>
            </a>
        </li>
        <li>
            <a href="${request.contextPath}/page/search" >
                <span class="title">搜索</span>
            </a>
        </li>
        </ul>
				</nav>   
				</div>
    </header> 
	  <section class="wt-section bg-gray text-center inner-page-header"> 
			<div class="container">
				<div class="row justify-content-md-center align-items-center text-white py-4 py-lg-5">
					<div class="col-md-7">
						<div class="text-center">
							<h1 class="display-sm-4 display-lg-3">${(activity.activityName)!!}</h1>
                            <p class="display-sm-4 sub-text">活动时间：${(activity.startTime?string('yyyy年MM月dd日 HH点mm分'))!!} 至 ${(activity.endTime?string('yyyy年MM月dd日 HH点mm分'))!!}</p>
					  </div>
					</div>
				</div>
			</div>
		</section>
    <main role="main">
<section class="wt-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-12">
                <div class="blog-post">
                    <p>
                        ${(activity.activityDesc)!!}
                    </p>
                </div>
                <section class="wt-section mb-0 pb-0">
                <!--comments area start-->
				<div class="comment-respond mb-lg-5 mb-4">
                    <h3 class="comment-reply-title mb-lg-5 mb-4">
                        活动签到
                    </h3>
                    <form role="form" class="comment-form">
                        <div class="row">
                            <div class=" col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="phone" name="phone" placeholder="手机" required="">
                                </div>
                            </div>
                            <div class=" col-md-4">
                                <div class="form-group ">
                                    <input type="text" class="form-control" id="showName" name="showName" placeholder="姓名" required="">
                                </div>
                            </div>
                            <div class=" col-md-4">
                                <div class="form-group ">
                                    <input type="text" class="form-control" id="company" name="company" placeholder="公司" required="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class=" col-md-12">
                                <div class="form-group">
                                    <select class="form-control" required="" id="signType" name="signType">
                                        <option value="1">签到</option>
                                        <option value="2">请假</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <textarea id="leaveReason" name="leaveReason" rows="2" placeholder="如需请假请填写请假理由" class="form-control"></textarea>
                            </div>
                        </div>
                        <p class="text-muted">请如实填写签到信息，所有信息将被严格保密 *</p>
                        <div class="text-center mt-md-5">
                            <a onclick="sign()" class="btn btn-pill btn-primary">提交</a>
                        </div>
                    </form>
                </div>
				</section>

            </div>
        </div>
    </div>
</section>
    </main>


    <!-- Footer -->
    <footer class="wt-section bg-dark main-footer">
        <div class="container">
            <div class="row">
                <div class=" col-sm-4 col-md col-sm-4 col-12 col mb-4">
                    <h5 class="mb-4">联系我们</h5>

                    <p><i class="fa fa-location-arrow mr-2"></i> ${(templateMap.location)!!} </p>
                    <p><i class="fa fa-phone mr-2"></i>  ${(templateMap.phone)!!}  </p>
                    <p><i class="fa fa fa-envelope mr-2"></i> ${(templateMap.email)!!}  </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 pt-4">
                    <p class="text-center copyrights"> © ${(templateMap.companyName)!!} All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

   <!-- JS Script Files -->
   <!-- Global Vendor -->
   <script src="${request.contextPath}/static/frontend/vendors/jquery.min.js"></script>
   <script src="${request.contextPath}/static/frontend/vendors/jquery.migrate.min.js"></script>
   <script src="${request.contextPath}/static/frontend/vendors/popper.min.js"></script>
   <script src="${request.contextPath}/static/frontend/vendors/bootstrap/js/bootstrap.min.js"></script>
   <script src="${request.contextPath}/static/frontend/vendors/aos/aos.js"></script>

   <!-- Components Vendor  -->
   <script src="${request.contextPath}/static/frontend/vendors/slick-carousel/slick.min.js"></script>
   <script src="${request.contextPath}/static/frontend/vendors/ace-responsive-menu/ace-responsive-menu.js"></script>

   <!--Plugin Initialize-->
   <script src="${request.contextPath}/static/frontend/js/global.js"></script>
   <script src="${request.contextPath}/static/frontend/vendors/carousel.js"></script>

   <!-- END JAVASCRIPTS -->
    <script>
        //签到标识，防止重复签到
        let init=0;
        function sign(){
            if($("#signType").val()==="2"&&$("#leaveReason").val().length<1){
                alert("请输入请假理由");
                return false;
            }
            if(init===0){
                $.ajax({
                    type: 'POST',
                    url: "${request.contextPath}/page/activitySign/save",
                    data:JSON.stringify({
                        "showName":$("#showName").val(),"phone":$("#phone").val(),"company":$("#company").val(),
                        "signType":$("#signType").val(),"leaveReason":$("#leaveReason").val(),"activityId":"${(activity.activityId)!!}"
                    }),
                    dataType: "json",
                    contentType: "application/json",
                    success: function (responseData) {
                        alert(responseData.msg);
                        if(responseData.code===200){
                            init=1;
                        }
                    }
                });
            }else{
                alert("已签到成功，请勿重复提交");
            }

        }
    </script>
  </body> 
</html>