<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <title>${(templateMap.companyName)!!}</title>

    <!-- Meta -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no,user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="keywords" content="${(templateMap.companyName)!!}">
    <meta name="description" content="${(templateMap.companyName)!!}">
    <meta name="author" content="zhengkai.blog.csdn.net">

    <!-- Favicon -->
    <link rel="shortcut icon" href="${request.contextPath}/static/frontend/img/favicon.png" type="image/x-icon">

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="${request.contextPath}/static/frontend/vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="${request.contextPath}/static/frontend/vendors/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="${request.contextPath}/static/frontend/vendors/slick-carousel/slick.css">
    <link href="${request.contextPath}/static/frontend/vendors/ace-responsive-menu/ace-responsive-menu.css" rel="stylesheet" type="text/css" />
    <link href="${request.contextPath}/static/frontend/vendors/aos/aos.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="${request.contextPath}/static/frontend/css/theme.css">
    <link rel="stylesheet" type="text/css" href="${request.contextPath}/static/frontend/css/styles.css">
    <style>
        @media (min-width: 576px) {
            .logo h2 { font-size: 16px; }
        }
        @media (min-width: 768px) {
            .logo h2 { font-size: 20px; }
        }
        @media (min-width: 992px) {
            .logo h2 {font-size: 26px;}
        }
    </style>
</head>
<body>
    <!-- Header -->
    <header class="main-header"> 
	<div class="container">
			<div class="logo">
                <a href="${request.contextPath}/page/index">
                    <h2><span>${(templateMap.companyName)!!}</span></h2>
                </a>
				</div> 
			 <!-- Navbar --> 
				<nav class="mainNav">
				<!-- Menu Toggle btn-->
				<div class="menu-toggle">
					<h3>Menu</h3>
					<button type="button" id="menu-btn">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- Responsive Menu Structure-->
				<!--Note: declare the Menu style in the data-menu-style="horizontal" (options: horizontal, vertical, accordion) -->
                    <ul id="respMenu" class="ace-responsive-menu" data-menu-style="horizontal">
                        <#if channelList??>
                        <#list channelList as item>
                        <li>
                            <a href="${request.contextPath}/page/channel/${item.channelId}" >
                                <span class="title">${item.channelName}</span>
                            </a>
                        </li>
                    </#list>
                </#if>
        <li>
            <a href="${request.contextPath}/page/activity/search" >
                <span class="title">活动签到</span>
            </a>
        </li>
        <li>
            <a href="${request.contextPath}/page/form/search" >
                <span class="title">表单提交</span>
            </a>
        </li>
        <li>
            <a href="${request.contextPath}/page/search" >
                <span class="title">搜索</span>
            </a>
        </li>
        </ul>
				</nav>   
				</div>
    </header> 
	  <section class="wt-section bg-gray text-center inner-page-header"> 
			<div class="container">
				<div class="row justify-content-md-center align-items-center text-white py-4 py-lg-5">
					<div class="col-md-7">
						<div class="text-center">
							<h1 class="display-sm-4 display-lg-3">${(article.title)!!}</h1>
                            <p class="sub-text">发布者：${(article.createUserName)!!} , 时间：${(article.createTime?string('yyyy年MM月dd日'))!!}</p>
					  </div>
					</div>
				</div>
			</div>
		</section>
    <main role="main">
<section class="wt-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-12">
                <div class="blog-post">
                    <!--<div class="meta font-lora mb-3">
                        <a >${(article.createUserName)!!}</a>
                        <a >${(article.createTime?string('yyyy年MM月dd日'))!!}</a>
                    </div>-->
                    <p>
                        ${(article.content)!!}
                    </p>
                </div>
               <h6 class="mb-0">Tags:
               <#if (article.keyword)??>
                   <#list article.keyword?split(",") as name>
                   <a class="badge badge-pill">${name}</a>
                   </#list>
               </#if>
                </h6>

					<section class="wt-section mb-0 pb-0">
				</section>

            </div>
        </div>
    </div>
</section>
    </main>


    <!-- Footer -->
    <footer class="wt-section bg-dark main-footer">
        <div class="container">
            <div class="row">
                <div class=" col-sm-4 col-md col-sm-4 col-12 col mb-4">
                    <h5 class="mb-4">联系我们</h5>

                    <p><i class="fa fa-location-arrow mr-2"></i> ${(templateMap.location)!!} </p>
                    <p><i class="fa fa-phone mr-2"></i>  ${(templateMap.phone)!!}  </p>
                    <p><i class="fa fa fa-envelope mr-2"></i> ${(templateMap.email)!!}  </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 pt-4">
                    <p class="text-center copyrights"> © ${(templateMap.companyName)!!} All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

   <!-- JS Script Files -->
   <!-- Global Vendor -->
   <script src="${request.contextPath}/static/frontend/vendors/jquery.min.js"></script>
   <script src="${request.contextPath}/static/frontend/vendors/jquery.migrate.min.js"></script>
   <script src="${request.contextPath}/static/frontend/vendors/popper.min.js"></script>
   <script src="${request.contextPath}/static/frontend/vendors/bootstrap/js/bootstrap.min.js"></script>
   <script src="${request.contextPath}/static/frontend/vendors/aos/aos.js"></script>

   <!-- Components Vendor  -->
   <script src="${request.contextPath}/static/frontend/vendors/slick-carousel/slick.min.js"></script>
   <script src="${request.contextPath}/static/frontend/vendors/ace-responsive-menu/ace-responsive-menu.js"></script>

   <!--Plugin Initialize-->
   <script src="${request.contextPath}/static/frontend/js/global.js"></script>
   <script src="${request.contextPath}/static/frontend/vendors/carousel.js"></script>
    <script>
        function renderFileLink(){
            //$('a') 获取了所有的a标签，然后循环替换为系统内文章地址
            $('img').each(function(){
                const href = $(this).attr('src');
                if(href.startsWith("@@@")){
                    $(this).attr('src',href.replaceAll('@@@','${request.contextPath}/file/files/'));
                }
            });
        }
        renderFileLink();
    </script>
   <!-- END JAVASCRIPTS -->
  </body> 
</html>